@font-face {
  font-family: "ComicBookBoldItalic";
  src: url("./ComicBookBoldItalic.otf") format("opentype");
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  margin: 0;
  font-family: "ComicBookBoldItalic", sans-serif;
  background: linear-gradient(45deg, #1c1c1c, #333);
  color: white;
  box-sizing: border-box;
}

/* Header Styles */
.new-header {
  position: relative;
  text-align: center;
  background: linear-gradient(45deg, #1c1c1c, #333);
  color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.buy-now {
  font-size: 14px;
  background: linear-gradient(45deg, #1c1c1c, #333);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.buy-now:hover {
  background-color: #c13c26;
}

.social-icons img {
  width: 30px;
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.social-icons {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* Header Content */
.header-content {
  margin-top: 20px;
}

.main-title {
  font-size: 60px;
  font-family: "ComicBookBoldItalic", sans-serif;
  color: #ffffff;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 10px 0;
}

.main-image {
  width: 300px;
  margin: 20px auto;
  display: block;
  border-radius: 50%;
  /* box-shadow: 0 4px 10px rgba(255, 87, 51, 0.5); */
}

.contract-address {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin-top: -10px;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.floating-duck img {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 100px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Marquee Styles */
.marquee-container {
  margin-top: 10px;
  background: linear-gradient(45deg, #1c1c1c, #333);
  padding: 10px 0;
  color: white;
}

marquee {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  display: block;
}

/* Tokenomics Styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: linear-gradient(45deg, #1c1c1c, #333);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  color: white;
}

/* Text Section */
.text-section {
  width: 50%;
}

.tokonomics-title {
  font-size: 60px;
  font-family: "ComicBookBoldItalic", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.details p {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  color: white;
}

/* Image Section */
.image-section {
  position: relative;
  width: 40%;
  text-align: center;
}

.image-section img {
  max-width: 300px;
  height: auto;
  transform: rotate(-5deg);
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(255, 87, 51, 0.5); */
}

.postbroke-text {
  font-family: "ComicBookBoldItalic", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: white;
  writing-mode: vertical-rl;
  text-align: center;
  margin: 0;
  letter-spacing: 0.4em;
  line-height: 3;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
}

body::before {
  content: "";
  z-index: -1;
}

/* About Section Styles */
.containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin: 30px 0;
  background: linear-gradient(45deg, #1c1c1c, #333);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  color: white;
}

.about-section {
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(45deg, #1c1c1c, #333);
  border-radius: 10px;
}

.image-wrapper {
  flex: 1;
  padding: 10px;
  position: relative;
  text-align: center;
}

.image-wrapper img {
  max-width: 300px;
  height: auto;
  transform: rotate(-5deg);
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(255, 87, 51, 0.5); */
}

.text-content {
  flex: 2;
  padding: 20px;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.buy-nows {
  padding: 10px 20px;
  background-color: #a4e8b2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.buy-nows:hover {
  background-color: #87cf94;
}

/* Community Section Styles */
.community {
  text-align: center;
  padding: 40px 20px;
  margin: 30px 0;
  background: linear-gradient(45deg, #1c1c1c, #333);
  position: relative;
  overflow: hidden;
}

.community h2 {
  font-size: 80px;
  font-family: "ComicBookBoldItalic", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: -20px;
  text-shadow: 2px 2px 5px #000;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.community p {
  font-size: 20px;
  color: #ccc;
  margin-bottom: 30px;
}

.community-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.community-icons a {
  margin: 0 20px;
}

.community-icons img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.community-icons img:hover {
  transform: scale(1.3);
  opacity: 0.9;
}

.community-cta {
  margin-top: 30px;
}

.community-cta button {
  background-color: #a4e8b2;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.community-cta button:hover {
  background-color: #87cf94;
  transform: translateY(-3px);
}

.large-cartoon {
  position: absolute;
  bottom: -20px;
  left: -180px;
  width: 400px;
}

.medium-cartoon {
  position: absolute;
  bottom: 30px;
  right: -60px;
  width: 300px;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer p {
  margin: 5px 0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .header-top {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons {
    top: auto;
    right: auto;
    position: static;
  }

  .main-title {
    font-size: 60px;
  }

  .main-image {
    width: 200px;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .text-section,
  .image-section,
  .about-section {
    width: 100%;
  }

  .tokonomics-title {
    font-size: 48px;
  }

  .details p {
    font-size: 18px;
  }

  .image-section img {
    max-width: 200px;
  }

  .postbroke-text {
    font-size: 15px;
    right: 200px;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 40px;
  }

  .main-image {
    width: 150px;
  }

  .container {
    padding: 20px;
  }

  .tokonomics-title {
    font-size: 36px;
  }

  .details p {
    font-size: 16px;
  }

  .about-section {
    flex-direction: column;
  }

  .image-wrapper img {
    max-width: 150px;
  }

  .text-content h1 {
    font-size: 1.5rem;
  }

  .text-content p {
    font-size: 0.9rem;
  }

  .buy-nows {
    font-size: 0.9rem;
  }
  .community h2 {
    font-size: 50px;
  }

  .community p {
    font-size: 16px;
  }

  .community-icons img {
    width: 50px;
    height: 50px;
  }
  .large-cartoon {
    width: 200px;
    left: -80px;
    bottom: -10px;
  }

  .medium-cartoon {
    width: 170px;
    right: -40px;
    bottom: 10px;
  }

  .community-cta button {
    font-size: 16px;
    padding: 8px 20px;
  }
}

@media (max-width: 480px) {
  .header-top {
    text-align: center;
  }

  .buy-now {
    width: 100%;
    font-size: 12px;
    padding: 8px;
  }

  .social-icons img {
    width: 20px;
  }

  .main-title {
    font-size: 30px;
  }

  .main-image {
    width: 100px;
  }

  .contract-address {
    font-size: 11px;
  }

  .tokonomics-title {
    font-size: 28px;
  }

  .details p {
    font-size: 14px;
  }

  .about-section {
    padding: 10px;
  }

  .text-content p {
    font-size: 0.8rem;
  }

  .community h2 {
    font-size: 40px;
  }

  .community-icons {
    gap: 10px;
  }

  .community-icons img {
    width: 40px;
    height: 40px;
  }

  .large-cartoon {
    width: 150px;
    left: -50px;
    bottom: 0;
  }

  .medium-cartoon {
    width: 120px;
    right: -20px;
    bottom: 10px;
  }

  .community p {
    font-size: 14px;
  }

  .community-cta button {
    font-size: 14px;
    padding: 6px 15px;
  }

  footer {
    text-align: center;
    font-size: 12px;
  }
}
